# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Virtual environments
venv/
env/
ENV/
.venv/

# Environment variables & secrets
.env

# SQLite databases
*.db
*.sqlite3

# Pytest / coverage
.pytest_cache/
.coverage
htmlcov/

# IDE / Editor files
.vscode/
.idea/
*.swp
*.swo
.DS_Store
